[package]
name = "aerospike"
version = "0.2.1"
authors = ["Khosrow Afroozeh <khosrow@aerospike.com>", "Jan Hecking <jhecking@aerospike.com>"]
description = "Aerospike Client for Rust"
keywords = ["aerospike", "nosql", "distributed", "database"]
categories = ["database"]
homepage = "https://www.aerospike.com/"
repository = "https://github.com/aerospike/aerospike-client-rust/"
documentation = "https://docs.rs/aerospike/"
license = "Apache-2.0"
readme = "README.md"

exclude = [
    ".travis.yml",
    ".travis/*",
    ".appveyor.yml",
]

[badges]
travis-ci = { repository = "aerospike/aerospike-client-rust" }

[dependencies]
log = "^0.3"
byteorder = "^0.5"
rust-crypto = "^0.2"
base64 = "^0.7.0"
crossbeam = "0.2"
rand = "0.3"
scoped-pool = "^1.0"
pwhash = "0.1"
lazy_static = "^0.2"
error-chain = "^0.11"
parking_lot = "^0.4"

[dev-dependencies]
env_logger = "^0.4"
hex = "^0.2"
rustfmt = "^0.8"
bencher = "^0.1.4"

[[bench]]
name = "client_server"
harness = false

[workspace]
members = ["tools/benchmark"]
