[package]

name = "aerospike"
version = "0.0.1"
authors = ["Khosrow Afroozeh <khosrow@aerospike.com>", "Jan Hecking <jhecking@aerospike.com>"]
description = "Aerospike Client for Rust"
keywords = ["aerospike", "nosql", "distributed", "database"]
homepage = "https://www.aerospike.com/"
repository = "https://github.com/aerospike/aerospike-client-rust/"
documentation = "https://docs.rs/aerospike/"
license = "Apache-2.0"
readme = "README.md"

exclude = [
    ".travis.yml",
    ".travis/*",
]

[dependencies]
log = "0.3"
byteorder = "^0.5"
rust-crypto = "^0.2"
rustc-serialize = "0.3"
crossbeam = "0.2"
rand = "0.3"
threadpool = "1.0"
pwhash = "0.1"
lazy_static = "^0.2"
error-chain = "^0.7"

[dev-dependencies]
env_logger = "0.3"
hex = "^0.2"
